@model IEnumerable<SocietyAgendor.UI.Models.EstabelecimentoModel>

@{
    ViewData["Title"] = "Estabelecimento";
    Layout = "_LayoutLogado";
}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">
        <h2> Estabelecimento</h2>
        <p>
            <a asp-controller="Estabelecimento" asp-action="CreateEstabelecimento" class="btn btn-default">Adicionar Estabelecimento</a>
        </p>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th style="width: 400px;">
                    @Html.DisplayNameFor(model => model.Estabelecimento_Nome)
                </th>
                <th style="width: 300px;">
                    @Html.DisplayNameFor(model => model.Estabelecimento_Email)
                </th>
                <th style="width: 300px;">
                    @Html.DisplayNameFor(model => model.Estabelecimento_Telefone)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento_Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento_Telefone)
                </td>
                <td>
                    @Html.ActionLink("Editar", "UpdateEstabelecimento", new { estabelecimentoId = item.Estabelecimento_Id }) |             
                    @Html.ActionLink("Excluir", "DeleteEstabelecimento", new { estabelecimentoId = item.Estabelecimento_Id }) 
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>