@model SocietyAgendor.UI.Models.FuncionarioModel

@{
    ViewData["Title"] = "Funcionário";
    Layout = "_LayoutLogado";

}

<h2>Atualizar Funcionário</h2>
<hr />

<div>
    <form asp-action="UpdateFuncionario" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Funcionario_Id)
        @Html.HiddenFor(m => m.Endereco_Id)

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Funcionario_Nome" class="control-label"></label>
                    <input asp-for="Funcionario_Nome" class="form-control" />
                    <span asp-validation-for="Funcionario_Nome" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="Funcionario_CPF" class="control-label"></label>
                        <input asp-for="Funcionario_CPF" class="form-control" />
                        <span asp-validation-for="Funcionario_CPF" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="Funcionario_RG" class="control-label"></label>
                        <input asp-for="Funcionario_RG" class="form-control" />
                        <span asp-validation-for="Funcionario_RG" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="Funcionario_DtNascimento" class="control-label"></label>
                    <input asp-for="Funcionario_DtNascimento" type="date" class="form-control" max='@DateTime.Now.ToString("yyyy-MM-dd")' />
                    <span asp-validation-for="Funcionario_DtNascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Funcionario_Email" class="control-label"></label>
                    <input asp-for="Funcionario_Email" class="form-control" />
                    <span asp-validation-for="Funcionario_Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="FuncionarioDtAdmissao" class="control-label"></label>
                    <input asp-for="FuncionarioDtAdmissao" type="date" class="form-control" max='@DateTime.Now.ToString("yyyy-MM-dd")' />
                    <span asp-validation-for="FuncionarioDtAdmissao" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Funcionario_Celular" class="control-label"></label>
                    <input asp-for="Funcionario_Celular" class="form-control" />
                    <span asp-validation-for="Funcionario_Celular" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Funcionario_Telefone" class="control-label"></label>
                    <input asp-for="Funcionario_Telefone" class="form-control" />
                    <span asp-validation-for="Funcionario_Telefone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco_CEP" class="control-label"></label>
                    <input asp-for="Endereco_CEP" class="form-control" onblur="pesquisacep(this.value);" />
                    <span asp-validation-for="Endereco_CEP" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco_Logradouro" class="control-label"></label>
                    <input asp-for="Endereco_Logradouro" class="form-control" readonly />
                    <span asp-validation-for="Endereco_Logradouro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="Endereco_Numero" class="control-label"></label>
                    <input asp-for="Endereco_Numero" class="form-control" />
                    <span asp-validation-for="Endereco_Numero" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco_Bairro" class="control-label"></label>
                    <input asp-for="Endereco_Bairro" class="form-control" readonly />
                    <span asp-validation-for="Endereco_Bairro" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco_Cidade" class="control-label"></label>
                    <input asp-for="Endereco_Cidade" class="form-control" readonly />
                    <span asp-validation-for="Endereco_Cidade" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="Endereco_Estado" class="control-label"></label>
                    <input asp-for="Endereco_Estado" class="form-control" readonly />
                    <span asp-validation-for="Endereco_Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Endereco_Complemento" class="control-label"></label>
                    <input asp-for="Endereco_Complemento" class="form-control" />
                    <span asp-validation-for="Endereco_Complemento" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Cargo_Id" class="control-label"></label>
                    <select asp-for="Cargo_Id" class="form-control" asp-items="@ViewBag.CargoList"></select>
                    <span asp-validation-for="Cargo_Id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Estabelecimento_Id" class="control-label"></label>
                    <select asp-for="Estabelecimento_Id" class="form-control" asp-items="@ViewBag.EstabelecimentoList"></select>
                    <span asp-validation-for="Estabelecimento_Id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Usuario_Id" class="control-label"></label>
                    <select asp-for="Usuario_Id" class="form-control" asp-items="@ViewBag.UsuarioList"></select>
                    <span asp-validation-for="Usuario_Id" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="form-row">
                    <div class="form-group col-lg-1">
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
                <div class="form-group col-lg-1">
                    <input type="submit" value="Atualizar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            const cpf = $('#Funcionario_CPF').val();

            $('#Funcionario_CPF').mask('000.000.000-00', { reverse: true });
            $('#Funcionario_CPF').val(cpf);

            $.validator.addMethod("data-val-validacaocpf",
                (value, element, param) => {
                    return validaCPF(value);
                },
                (params, element) => {
                    let msgCompare = $(element).attr('data-val-validacaocpf');
                    if (!msgCompare)
                        msgCompare = 'cpf inválido';

                    return msgCompare;
                }
            );

            $.validator.unobtrusive.adapters.addBool("data-val-validacaocpf");
        });

        function validaCPF(value) {
            if (!value) return false;

            let posicao = 0,
                totalDigito1 = 0,
                totalDigito2 = 0,
                dv1 = 0,
                dv2 = 0,
                digitosIdenticos = true,
                ultimoDigito = -1,
                character = '';

            for (let c = 0; c < value.length; c++) {
                character = value.charAt(c);

                if (!isNaN(character)) {
                    const digito = character - '0';

                    if (posicao !== 0 && ultimoDigito != digito)
                        digitosIdenticos = false;

                    ultimoDigito = digito;
                    if (posicao < 9) {
                        totalDigito1 += digito * (10 - posicao);
                        totalDigito2 += digito * (11 - posicao);
                    } else if (posicao === 9) {
                        dv1 = digito;
                    } else if (posicao === 10) {
                        dv2 = digito;
                    }

                    posicao++;
                }
            }

            if (posicao > 11) return false;

            if (digitosIdenticos) return false;

            let digito1 = totalDigito1 % 11;
            digito1 = digito1 < 2 ? 0 : 11 - digito1;

            if (dv1 != digito1) return false;

            totalDigito2 += digito1 * 2;
            let digito2 = totalDigito2 % 11;
            digito2 = digito2 < 2 ? 0 : 11 - digito2;

            return dv2 === digito2;
        }
    </script>
}