@model IEnumerable<SocietyAgendor.UI.Models.HorarioModel>

@{
    ViewData["Title"] = "Horários";
    Layout = "_LayoutLogado";
}


<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h2>Lista de Horários</h2>
        <p>
            <a asp-action="CreateHorario" class="btn btn-default">Adicionar Horário</a>
        </p>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DiaSemana_Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Horario_De)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Horario_Ate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaSemana_Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario_De)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario_Ate)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "UpdateHorario", new { horarioId = item.Horario_Id, diaSemanaId = item.DiaSemana_Id  }) |
                        @Html.ActionLink("Excluir", "DeleteHorario", new { horarioId = item.Horario_Id, diaSemanaId = item.DiaSemana_Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
